* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
*::-webkit-scrollbar {
    display: none;
}
*::selection {
    background: lime;
    color: var(--sec-text-color);
}
:root{
    --main-color: #efefef;
    --sec-color: #2B8023;
    --main-text-color: #121212;
    --sec-text-color: #efefef;
    --extra-color: #29C31B;
    --extra2-color: #dedede;
    --extra3-color: #232323;
    --extra4-color: #1693DA;
    --extra5-color: #ababab;
}

/* Header Design */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--sec-color);
    position: fixed;
    z-index: 30;
}
header .ul1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    list-style-type: none;
}
header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
header .ul1 li a {
    font-size: 18px;
    padding: 8px 20px;
    margin: 0 6px;
    color: var(--sec-text-color);
    text-decoration: none;
}
header .ul1 li a:hover {
    color: var(--main-text-color);
}
header .ul1 li a.active {
    color: var(--main-text-color);
}
header .logo img {
    width: 60px;
}
header .ul2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    list-style-type: none;
}
header .ul2 li button {
    border: none;
    font-size: 18px;
    padding: 8px 20px;
    margin: 0 6px;
    color: var(--sec-text-color);
    text-decoration: none;
}
.signup {
    background-color: var(--extra-color);
    border-radius: 50px;
    transition: ease-in .3s;
}
.signup:hover {
    background-color: var(--extra2-color);
    color: var(--main-text-color);
}
.login {
    background-color: var(--extra-color);
    border-radius: 50px;
    transition: ease-in .3s;
}
.login:hover {
    background-color: var(--extra2-color);
    color: var(--main-text-color);
}

/* Home Page Design */
.container1 {
    height: 700px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-search {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-title {
    font-size: 60px;
    color: var(--sec-text-color);
}
.search {
    width: 400px;
    display: flex;
    align-items: center;
    padding-right: 12px;
    margin-top: 30px;
    background: var(--main-color);
    border-radius: 10px;
}
.search i {
    font-size: 24px;
    color: var(--extra5-color);
}
.searchTerm {
    width: 100%;
    border: none;
    padding: 15px 20px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}
.searchTerm:focus {
    color: var(--main-text-color);
}
.img1 {
    width: 100%;
}

.container2 {
    padding: 60px 10%;
    background-color: var(--extra2-color);
}
.cont2-title {
    font-size: 30px;
    margin-bottom: 20px;
}
.spots {
    display: flex;
}
.card {
    position: relative;
    border-radius: 30px;
    width: 450px;
    height: 250px;
    margin: 0 5px;
    background-color: var(--extra-color);
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.card::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 0;
    transition: .5s;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1));
}
.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1;
    color: var(--main-color);
    transition: .5s;
    opacity: 0;
}
.visit {
    padding: .3rem .8rem;
    font-size: .6rem;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--main-color);
    background: transparent;
    border: 2px solid #efefef;
    border-radius: 2px;
    transition: ease-in-out .3s;
}
.visit:hover {
    color: var(--main-text-color);
    background: var(--main-color);
}
.content p {
    font-size: .6rem;
    margin: .5rem 0;
}
.content .subtitle {
    font-size: 20px;
}
.content .st {
    font-size: 16px;
    margin: 0;
}
.card:hover {
    width: 900px;
}
.card:hover img {
    transform: scale(1.1);
}
.card:hover:after , .card:hover .content {
    opacity: 1;
}

.container3 {
    padding: 60px 10%;
    background-color: var(--main-color);
}
.part1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.part1 .left {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 200px;
}
.part1 .left .pic {
    position: relative;
    border-radius: 20px;
    width: 200px;
    height: 160px;
    margin: 5px;
    background-color: var(--extra-color);
    transition: .3s;
    overflow: hidden;
    cursor: pointer;
}
.pic img {
    width: 100%;
    height: 100%;
    object-position: center;
}
.part1 .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.part1 .right .cont3-title {
    color: var(--main-text-color);
    font-size: 50px;
}
.part1 .right .cont3-st {
    color: var(--main-text-color);
    font-size: 20px;
    margin: 20px 0;
}
.btn2 {
    padding: 8px 16px;
    width: fit-content;
    min-width: 160px;
    border: 3px solid #cdcdcd;
    font-size: 16px;
    border-radius: 10px;
    transition: ease-in-out .6s;
}
.btn2:hover {
    background-color: var(--sec-color);
    color: var(--sec-text-color);
}
.part2 {
    margin-top: 50px;
}
.part2 .cont3-title2 {
    color: var(--main-text-color);
    font-size: 85px;
}
.part2 .feed {
    background: var(--extra2-color);
    position: relative;
    border-radius: 35px;
    height: 620px;
    width: 100%;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.feed .feed-left {
    width: 32%;
    display: inline;
    gap: 10px;
    margin-left: 40px;
}
.feed-left h2 {
    font-size: 28px;
}
.feed-left i {
    font-size: 36px;
    color: var(--sec-text-color);
    transition: ease-in .4s;
    margin: 20px 0;
}
.feed-left i:hover {
    font-size: 36px;
    color: var(--main-text-color);
}
.feed img {
    padding-top: 30px;
    height: 700px;
    width: 300px;
}
.feed-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 40px;
}
.feed-right .cont3-title3 {
    font-size: 36px;
    font-weight: bold;
    color: var(--sec-color);
}
.feed-right .cont3-st2 {
    font-size: 20px;
}

.container4 {
    padding: 60px 10%;
    background-color: var(--main-color);
    align-content: center;
}
.cont4-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.cont4-top .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cont4-top .info h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--sec-color);
}
.cont4-top .info h3 {
    font-size: 25px;
    color: var(--sec-color);
}
.cont4-top .info h5 {
    font-size: 20px;
    color: var(--main-text-color);
}
.cont4-bot {
    margin-top: 50px;
    border-radius: 25px;
    background-color: var(--extra-color);
    overflow: hidden;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    height: 490px;
    position: relative;
}
.cont4-bot .ads {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.ads {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.ads .cont4-ads {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.cont4-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    height: 100%;
}
.cont4-ads img {
    width: 60px;
}
.cont4-desc h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--sec-text-color);
}
.cont4-desc h2 {
    font-size: 32px;
    font-weight: bold;
    color: var(--sec-text-color);
}
.cont4-desc p {
    font-size: 20px;
    color: var(--sec-text-color);
}
.btn3 {
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    color: var(--sec-text-color);
    border-radius: 22.5px;
    transition: ease-in-out .4s;
    background: var(--sec-color);
    width: fit-content;
    min-width: 200px;
}
.btn3:hover {
    background-color: var(--extra-color);
}

.container5 {
    padding: 60px 10%;
    background-color: var(--main-color);
    align-content: center;
}
.container5 .heading h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 25px;
}
.container5 .heading .ul3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    list-style-type: none;
}
.container5 .heading .ul3 li a {
    font-size: 16px;
    padding: 8px 20px;
    margin: 0 6px;
    color: var(--main-text-color);
    text-decoration: none;
}
.container5 .heading .ul3 li a:hover {
    background-color: var(--extra2-color);
    border-radius: 8px;
}
.container5 .heading hr {
    margin-top: 10px;
}
.highlight {
    margin-top: 20px;
}
.highlight .show .place {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    max-width: 100%;
    overflow: hidden;
    height: 74px;
    object-fit: cover;
}
.small-spots {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20px;
    row-gap: 20px;
}
.place {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.photo {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: var(--extra-color);
    overflow: hidden;
    object-fit: fill;
    object-position: center;
}
.photo img {
    height: 100%;
    width: 100%;
    object-position: center;
}
.more {
    display: block;
}
.more h3 {
    font-size: 18px;
    font-weight: bold;
}
.more h6 {
    font-size: 16px;
}
.more h6 span {
    color: var(--extra4-color);
}


.container6 {
    padding: 60px 10%;
    background-color: var(--main-color);
    align-content: center;
}
.cont6 {
    background: var(--extra2-color);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.cont6-left {
    overflow: hidden;
    padding: 60px 80px;
}
.cont6-left img {
    border-radius: 12px;
}
.cont6-right {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cont6-right h2 {
    font-size: 32px;
}
.cont6-right p {
    font-size: 18px;
}
.btn4 {
    padding: 6px 12px;
    width: fit-content;
    min-width: 160px;
    border: none;
    font-size: 16px;
    color: var(--sec-text-color);
    border-radius: 12px;
    transition: ease-in-out .4s;
    background: var(--sec-color);
}
.btn4:hover {
    background-color: var(--extra-color);
}

.container7 {
    padding: 60px 10%;
    background-color: var(--sec-color);
    align-content: center;
}
.cont7-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}
.cont7-top .promote {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--sec-text-color);
}
.promote i {
    font-size: 48px;
    color: var(--main-color);
}
.cont7-top .promote h3 {
    font-size: 30px;
}
.cont7-top .promote h5 {
    font-size: 15px;
}
.cont7-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.btn5 {
    padding: 10px 15px;
    border: 1px solid #efefef;
    border-radius: 50px;
    transition: ease-in-out .4s;
    background: var(--sec-color);
    font-size: 16px;
    color: var(--sec-text-color);
    text-decoration: none;
    cursor: pointer;
}
.btn5:hover {
    background-color: var(--main-color);
    color: var(--main-text-color);
}

/* Footer Design */
footer {
    padding: 60px 10%;
    background-color: var(--main-color);
    align-content: center;
}
.foot {
    margin: auto;
}
.foot h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--main-text-color);
}
.foot-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.foot-row ul {
    list-style: none;
}
.foot-col {
    width: 30%;
}
.foot-col h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-text-color);
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
}
.foot-col h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    box-sizing: border-box;
}
.foot-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.foot-col ul li a {
    font-size: 16px;
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 300;
    display: inline;
    transition: all .3s ease;
}
.foot-col ul li a:hover {
    color: var(--main-text-color);
    padding-left: 8px;
    font-style: italic;
}
.foot-bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foot-bottom h3 {
    font-size: 18px;
    color: var(--main-text-color);
}
.foot-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.foot-bottom-left img {
    width: 165px;
    height: 120px;
}
.foot-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.foot-bottom-right .social {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}
.foot-bottom-right .social a {
    display: inline-block;
    margin-right: 8px;
    color: var(--main-text-color);
    font-size: 32px;
    transition: .4s;
}
.foot-bottom-right .social a:hover {
    transform: scale(1.1);
    color: var(--main-text-color);
}
.foot-TM {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}
.foot-TM {
    color: var(--main-text-color);
}
.foot-TM .lang-drop {
    min-width: 3rem;
    position: relative;
}
.lang-drop * {
    box-sizing: border-box;
}
.select {
    background: var(--extra2-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
    cursor: pointer;
    transition: background .3s;
}
