* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
*::-webkit-scrollbar {
    display: none;
}
*::selection {
    background: lime;
    color: var(--sec-text-color);
}
:root{
    --main-color: #efefef;
    --sec-color: #2B8023;
    --main-text-color: #121212;
    --sec-text-color: #efefef;
    --extra-color: #29C31B;
    --extra2-color: #dedede;
    --extra3-color: #232323;
    --extra4-color: #1693DA;
    --extra5-color: #ababab;
}

/* Header Design */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--sec-color);
    position: fixed;
    z-index: 10;
}
header .ul1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    list-style-type: none;
}
header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
header .ul1 li a {
    font-size: 18px;
    padding: 8px 20px;
    margin: 0 6px;
    color: var(--sec-text-color);
    text-decoration: none;
}
header .ul1 li a:hover {
    color: var(--main-text-color);
}
header .logo img {
    width: 60px;
}
header .ul2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    list-style-type: none;
}
header .ul2 li a {
    font-size: 18px;
    padding: 8px 20px;
    margin: 0 6px;
    color: var(--sec-text-color);
    text-decoration: none;
}
.ul2 .signup {
    background-color: var(--extra-color);
    border-radius: 50px;
    transition: ease-in .3s;
}
.ul2 .signup:hover {
    background-color: var(--extra2-color);
    color: var(--main-text-color);
}
.ul2 .login {
    background-color: var(--extra-color);
    border-radius: 50px;
    transition: ease-in .3s;
}
.ul2 .login:hover {
    background-color: var(--extra2-color);
    color: var(--main-text-color);
}

/* About Us Page Design */
.container1 {
    position: relative;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head-title {
    font-size: 70px;
    color: var(--sec-text-color);
    text-shadow: 2px 3px 8px white;
}
.sub-title {
    font-size: 50px;
    font-weight: bold;
    color: var(--sec-text-color);
}
.img1 {
    width: 100vw;
}

.container2 {
    padding: 60px 10%;
    background-color: var(--sec-color);
}
.container2 h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--sec-text-color);
    text-align: center;
    margin-top: 40px;
}
.team {
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#281c3e,#0f051d);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.profile {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.profile img {
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1 {
	color: var(--sec-text-color);
	font-size: 4rem;
	text-align: center;
}
.staff {
	padding: 16px;
	background: var(--extra3-color);
	border-radius: 15px;
	transition: all .38s ease;
}
.staff h3 {
	font-size: 23px;
	font-weight: 600;
	color: var(--sec-text-color);
	margin-bottom: 8px;
}
.staff h5 {
	font-size: 15px;
	font-weight: 600;
	color: var(--extra2-color);
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i {
	display: inline-block;
	color: var(--sec-text-color);
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover {
	transform: scale(1.2);
}
.staff:hover {
	transform: translateY(-10px);
	cursor: pointer;
}

.container3 {
    padding: 60px 10%;
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.cont3-left iframe {
    border-radius: 40px;
}
.cont3-right {
    display: flex;
    flex-direction: column;
}
.cont3-right h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
.cont3-right p {
    text-align: justify;
    font-size: 25px;
}

.container4 {
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.desc h1 {
    font-size: 80px;
    font-weight: bold;
    color: var(--sec-text-color);
}
.desc p {
    font-size: 40px;
    font-weight: bold;
    color: var(--sec-text-color);
}
.img2 {
    width: 100vw;
}
.opt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.btn1 {
    background: var(--sec-color);
    color: var(--sec-text-color);
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    transition: .3s ease-in-out;
}
.btn2 {
    background: var(--main-color);
    color: var(--sec-color);
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    transition: .3s ease-in-out;
}
.btn1:hover {
    background: var(--main-color);
    color: var(--sec-color);
}
.btn2:hover {
    background: var(--sec-color);
    color: var(--sec-text-color);
}

/* Footer Design */
footer {
    padding: 60px 10%;
    background-color: var(--sec-color);
    align-content: center;
}
.foot {
    margin: auto;
}
.foot h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--sec-text-color);
}
.foot-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.foot-row ul {
    list-style: none;
}
.foot-col {
    width: 30%;
}
.foot-col h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--sec-text-color);
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
}
.foot-col h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    box-sizing: border-box;
}
.foot-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.foot-col ul li a {
    font-size: 16px;
    color: var(--sec-text-color);
    text-decoration: none;
    font-weight: 300;
    display: inline;
    transition: all .3s ease;
}
.foot-col ul li a:hover {
    color: var(--sec-text-color);
    padding-left: 8px;
    font-style: italic;
}
.foot-bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.foot-bottom h3 {
    font-size: 18px;
    color: var(--sec-text-color);
}
.foot-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.foot-bottom-left img {
    width: 165px;
    height: 120px;
}
.foot-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.foot-bottom-right .social {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}
.foot-bottom-right .social a {
    display: inline-block;
    margin-right: 8px;
    color: var(--sec-text-color);
    font-size: 32px;
    transition: .4s;
}
.foot-bottom-right .social a:hover {
    transform: scale(1.1);
    color: var(--sec-text-color);
}
.foot-TM {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}
.foot-TM {
    color: var(--sec-text-color);
}
.foot-TM .lang-drop {
    min-width: 3rem;
    position: relative;
}
.lang-drop * {
    box-sizing: border-box;
}
.select {
    background: var(--extra2-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
    cursor: pointer;
    transition: background .3s;
}
.fa-sharp fa-solid fa-caret-down {
    font-size: 12px;
}
